In [1]:
from __future__ import print_function
from unicodecsv import DictReader
import pandas as pd
from paths import DATASETS_DIR, DUMPS_DIR
from pprint import pprint
from data import generate_dump
import os
from collections import OrderedDict
# import mysql.connector
from sqlalchemy import create_engine
# import pyodbc
from helpers import freq_iso_to_pandas
from pydatajson.helpers import parse_repeating_time_interval_to_days
from generate_dumps import save_to_dta
import numpy as np

In [2]:
dump_path = os.path.join(DUMPS_DIR, "series-tiempo.{}")

## Genero dataframe con el dump

In [3]:
%time df = generate_dump()

0 datasets para agregar del catalogo modernizacion
239 datasets para agregar del catalogo sspm
Distribucion 34.2 no tiene `field`
CPU times: user 1min 36s, sys: 4.08 s, total: 1min 40s
Wall time: 1min 40s

In [36]:
def remove_leading_nans(df, serie_id):
    df_serie = df[df.serie_id == serie_id]
    first_positive = df_serie[df_serie.valor.notnull()].index[0]
    df[df.serie_id == serie_id] = df_serie.loc[first_positive:]

In [37]:
%%time
for serie_id in df_sorted.serie_id.unique():
    remove_leading_nans(df_sorted, serie_id)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
len(df_sorted)

In [29]:
df[df.serie_id == "149.1_TL_INDIIOS_OCTU_0_21"] = df[df.serie_id == "149.1_TL_INDIIOS_OCTU_0_21"].loc[first:]

In [23]:
first = df[df.serie_id == "149.1_TL_INDIIOS_OCTU_0_21"][df.valor.notnull()].index[0]

/Users/abenassi/anaconda/envs/series-tiempo/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

## Genero resumen de series

In [32]:
drop_cols = ["indice_tiempo", "valor"]
index_cols = ["catalog_id", "dataset_id", "distribucion_id", "serie_id"]
series_cols = df.columns.drop(drop_cols)
series_group = df.groupby(index_cols)

In [33]:
df_series = df.drop(drop_cols, axis=1).drop_duplicates().set_index(index_cols)

In [43]:
def _is_series_updated(row):
    index_freq = row["indice_tiempo_frecuencia"]
    period_days = parse_repeating_time_interval_to_days(index_freq)
    periods_tolerance = {
        "R/P1Y": 2,
        "R/P6M": 2,
        "R/P3M": 2,
        "R/P1M": 3,
        "R/P1D": 14
    }
    days_tolerance = periods_tolerance.get(index_freq, 2) * period_days
    return row["serie_dias_no_cubiertos"] < days_tolerance

In [44]:
def _get_serie_valor_anterior_anio(series_dataframe):
    series = pd.Series(list(series_dataframe.valor), list(
        series_dataframe.indice_tiempo)).sort_index()
    return series.get(series.index[-1] - pd.DateOffset(years=1))

In [45]:
# CALCULA INDICADORES resumen sobre las series
# rango temporal de la serie
df_series["serie_indice_inicio"] = series_group["indice_tiempo"].min()
df_series["serie_indice_final"] = series_group["indice_tiempo"].max()
df_series["serie_valores_cant"] = series_group["indice_tiempo"].count()

# estado de actualización de los datos
# calcula días que pasaron por encima de período cubierto por datos
df_series["serie_dias_no_cubiertos"] = df_series.apply(
    lambda x: (pd.datetime.now() - pd.to_datetime(x[
        "serie_indice_final"]).to_period(
        freq_iso_to_pandas(x[
            "indice_tiempo_frecuencia"],
            how="end")).to_timestamp(how="end")).days,
    axis=1)
# si pasaron 2 períodos no cubiertos por datos, serie está desactualizada
df_series["serie_actualizada"] = df_series.apply(
    _is_series_updated, axis=1)

# valores representativos nominales
df_series["serie_valor_ultimo"] = series_group.apply(
    lambda x: x.loc[x.indice_tiempo.argmax(), "valor"])
df_series["serie_valor_anterior"] = series_group.apply(
    lambda x: pd.Series(list(x.valor), list(
        x.indice_tiempo)).sort_index()[-2]
)
df_series["serie_valor_anterior_anio"] = series_group.apply(
    _get_serie_valor_anterior_anio)

# valores representativos en variación porcentual
df_series["serie_var_pct_anterior"] = df_series[
    "serie_valor_ultimo"] / df_series["serie_valor_anterior"] - 1
df_series["serie_var_pct_anterior_anio"] = df_series[
    "serie_valor_ultimo"] / df_series["serie_valor_anterior_anio"] - 1

In [56]:
group_fuentes = df_series.groupby("dataset_fuente")

In [48]:
df_fuentes_valores = group_fuentes.sum()[["serie_valores_cant"]].rename(columns={"serie_valores_cant": "valores_cant"})

In [49]:
df_fuentes_series = group_fuentes.count()[["serie_titulo"]].rename(columns={"serie_titulo": "series_cant"})

In [63]:
group_fuentes.max()[["serie_indice_final"]].rename(columns={"serie_indice_final": "fecha_ultimo_valor"})

                                                   fecha_ultimo_valor
dataset_fuente
Administración Nacional de la Seguridad Social             2017-08-01
Banco Central de la República Argentina                    2017-08-31
Bancos Centrales                                           2017-09-14
Bloomberg                                                  2017-09-14
Cámara Argentina de Fondos Comunes de Inversión...         2017-07-01
Fondo Monetario Internacional                              2017-06-01
Instituto Nacional de Estadística y Censos                 2017-08-01
Instituto Nacional de Estadísticas y Censos                2017-08-01
Ministerio de Agroindustria                                2017-08-01
Ministerio de Hacienda                                     2017-08-01
Ministerio de Trabajo, Empleo y Seguridad Social           2018-07-01
Secretaría de Asuntos Económicos                           1962-01-01

In [64]:
group_fuentes.min()[["serie_indice_inicio"]].rename(columns={"serie_indice_inicio": "fecha_primer_valor"})

                                                   fecha_primer_valor
dataset_fuente
Administración Nacional de la Seguridad Social             1971-01-01
Banco Central de la República Argentina                    1950-01-01
Bancos Centrales                                           2001-01-01
Bloomberg                                                  1990-12-01
Cámara Argentina de Fondos Comunes de Inversión...         2011-01-01
Fondo Monetario Internacional                              1980-01-01
Instituto Nacional de Estadística y Censos                 1980-01-01
Instituto Nacional de Estadísticas y Censos                2006-01-01
Ministerio de Agroindustria                                1979-01-01
Ministerio de Hacienda                                     1990-01-01
Ministerio de Trabajo, Empleo y Seguridad Social           1965-01-01
Secretaría de Asuntos Económicos                           1935-01-01

In [53]:
pd.concat([df_fuentes_series, df_fuentes_valores], axis=1).sort_values("series_cant", ascending=False)

                                                    series_cant  valores_cant
Instituto Nacional de Estadística y Censos                 5252        346871
Ministerio de Hacienda                                     1019        150358
Banco Central de la República Argentina                     572         58623
Fondo Monetario Internacional                               381         79011
Bloomberg                                                   219         98867
Ministerio de Agroindustria                                 151         13942
Ministerio de Trabajo, Empleo y Seguridad Social            129         16790
Secretaría de Asuntos Económicos                            115          2996
Instituto Nacional de Estadísticas y Censos                  63          1674
Bancos Centrales                                             11          4630
Cámara Argentina de Fondos Comunes de Inversión...            8           590
Administración Nacional de la Seguridad Social                3          1214

In [20]:
df_series.to_excel("series-tiempo-resumen.xlsx", "resumen", index=True, index_label=True, merge_cells=False)

In [29]:
df_stata = df_series.copy()

In [35]:
for col in df_series.columns:
    
    # limita el largo de los campos de texto
    if df_stata[col].dtype.name == "object":
        df_stata[col] = df_stata[col].str[:244]
    
    # elimina los valores infinitos de los tipos decimales
    elif "float" in df_stata[col].dtype.name:
        df_stata[col] = df_stata[col].apply(lambda x: np.nan if np.isinf(x) else x)

In [36]:
df_stata.to_stata("series-tiempo-resumen.dta", write_index=False)

In [34]:
df_series.var_pct_anterior.max()

inf

In [ ]:
df_series.to_sql()

## Genero distribuciones de distintos formatos

In [ ]:
%%time
# CSV
path = dump_path.format("csv")
df.to_csv(path, encoding="utf-8", sep=",", index=False)
print("{}MB".format(os.path.getsize(path) / 1000000))

In [ ]:
%%time 
# EXCEL
path = dump_path.format("xlsx")
writer = pd.ExcelWriter(path, engine='xlsxwriter')
df.to_excel(writer, "data", merge_cells=False, encoding="utf-8", index=False)
writer.save()
print("{}MB".format(os.path.getsize(path) / 1000000))

In [ ]:
%%time 
# SQLITE
path = dump_path.format("db")
engine = create_engine('sqlite:///{}'.format(path), echo=True)
df.to_sql("series_tiempo", engine, index=False, if_exists="replace")
print("{}MB".format(os.path.getsize(path) / 1000000))

In [ ]:
%%time 
# ACCESS
# set up some constants
DRV = '{Microsoft Access Driver (*.mdb)}'; PWD = 'pw'

# connect to db
path = dump_path.format("mdb")
con = pyodbc.connect('DRIVER={};DBQ={};PWD={}'.format(DRV, path, PWD))
cur = con.cursor()

df.to_sql("series_tiempo", con, index=False, if_exists="replace")
print("{}MB".format(os.path.getsize(path) / 1000000))

In [ ]:
%%time 
# SQL
# la gracia acá es hacer bien las tablas con sus índices y pensar si MySQL, Postgresql o SQLite
path = dump_path.format("sql")
df.to_sql(path, "data", merge_cells=False, encoding="utf-8", index=False)
print("{}MB".format(os.path.getsize(path) / 1000000))

In [22]:
%%time 
# DTA
# hay que ver cómo manejar el límite de caracteres
path = dump_path.format("dta")
df_stata = df.copy()
for col in df_stata.columns:
    if df_stata[col].dtype.name == "object":
        # trunca campos de texto a 244 caracteres aceptados por STATA
        df_stata[col] = df_stata[col].str[:244]
df_stata.to_stata(path, write_index=False)
print("{}MB".format(os.path.getsize(path) / 1000000))

1097MB
CPU times: user 20.1 s, sys: 5.21 s, total: 25.3 s
Wall time: 25.6 s

In [ ]:
df.head()